/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.button:pressed{
	 -fx-background-color: 
        #808080,
        linear-gradient(#38424b 0.0%, #1f2429 20.0%, #191d22 100.0%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50.0% 0.0%, radius 100.0%, rgba(114.0,131.0,148.0,0.9), rgba(255.0,255.0,255.0,0.0));
        -fx-text-fill: red;
}
.button {
	 -fx-font-family: "Arial";
   -fx-text-fill: white;
    -fx-font-size: 12.0px;
    -fx-padding: 10.0 20.0 10.0 20.0;
    -fx-font-weight: bold;
     -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
}

#btnPlay:pressed{
	 -fx-background-color: 
        #808080,
        linear-gradient(#38424b 0.0%, #1f2429 20.0%, #191d22 100.0%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50.0% 0.0%, radius 100.0%, rgba(114.0,131.0,148.0,0.9), rgba(255.0,255.0,255.0,0.0));
        -fx-text-fill: red;
}
#btnPlay {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0.0%, #1f2429 20.0%, #191d22 100.0%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50.0% 0.0%, radius 100.0%, rgba(114.0,131.0,148.0,0.9), rgba(255.0,255.0,255.0,0.0));

}
#btnBuy{
	 -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0.0%, #1f2429 20.0%, #191d22 100.0%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50.0% 0.0%, radius 100.0%, rgba(114.0,131.0,148.0,0.9), rgba(255.0,255.0,255.0,0.0));


    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
   
}
#btnEnd{
	-fx-padding: 8.0 15.0 15.0 15.0;
    -fx-background-insets: 0.0,0.0 0.0 5.0 0.0, 0.0 0.0 6.0 0.0, 0.0 0.0 7.0 0.0;
    -fx-background-radius: 8.0;
    -fx-background-color: 
        linear-gradient(from 0.0% 93.0% to 0.0% 100.0%, #a34313 0.0%, #903b12 100.0%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50.0% 50.0%, radius 100.0%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.75) , 4.0,0.0,0.0,1.0 );
    
    -fx-font-size: 1.1em;
}